/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


/*----------------------------------------------------*/


@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("dist/fonts/OpenSans-Light.woff2") format("woff2"),
  url("dist/fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("dist/fonts/OpenSans-Regular.woff2") format("woff2"),
  url("dist/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("dist/fonts/OpenSans-SemiBold.woff2") format("woff2"),
  url("dist/fonts/OpenSans-SemiBold.woff") format("woff");
}

/*-----------------------------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}


.container {
  max-width: 1171px;
  margin: 0 auto;
}

/*-----------------------------------------------*/

/*HEADER*/

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 115px;
    height: 44px;
  }

}

.nav {
  padding-left: 100px;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-flow: wrap row;

  li:not(:last-child) {
    margin-right: 52px;
  }

  a {
    font-size: 15px;
    line-height: 28px;
    font-weight: 600;
    color: #1c1c1c;

    &:hover {
      padding-bottom: 39px;
      border-bottom: 4px solid #3172b9;
      color: #3172b9;
      transition: all .2s ease;
    }

    &:focus {
      outline: 2px solid #3172b9;
      border: 0;
      padding: 0;
    }

    &:active {
      color: black;
      transition: color .1s ease-out;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: 0.005em;
  color: #ffffff;
  background-color: #3172b9;
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
    transition: opacity .2s ease;
  }

  &:focus {
    outline: 2px solid #3172b9;
  }

  &:active {
    color: black;
    transition: color .1s ease-out;
  }
}

.header__btn {
  flex: 0 0 150px;
  min-height: 50px;
}

/*TRIAL*/

.trial {
  background: url("../img/trial/trial-background.jpg") no-repeat right center;
  background-size: cover;
  padding-bottom: 134px;
}

.trial-box {
  display: flex;
  flex-direction: column;
  padding-top: 124px;
  max-width: 520px;
}

.trial-box__title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #1c1c1c;
  margin-bottom: 32px;
}

.trial-box__subtitle {
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #787878;
  margin-bottom: 36px;
}

.trial-subbox {
  display: flex;
  flex-direction: column;
  max-width: 250px;


}

.trial-subbox__btn {
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  max-width: 250px;
  height: 58px;
  margin-bottom: 7px;
}

.trial-subbox__text {
  font-size: 11px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  color: #787878;
  align-self: center;
  background: url("../img/trial/trial-shield.svg") no-repeat left center;
  padding-left: 20px;
}

/*DO*/

.do {
  padding-top: 225px;
  padding-bottom: 197px;
  border-bottom: 1px solid #dadada;
}

.do-box {
  text-align: center;

  h5 {
    font-size: 36px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 0.005em;
    color: #1c1c1c;
    margin-bottom: 36px;
  }

  p {
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #787878;
    margin-bottom: 55px;
  }
}

.do-list {
  display: flex;
  flex: 0 1 25%;
  justify-content: space-between;

  li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 270px;
    min-height: 320px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    cursor: pointer;
  }
}

.do-list__item:hover {
  border: 3px solid #3172b9;
  background-color: #3172b9;
  transition: all .2s ease;

  &:focus {
    outline: 2px solid #3172b9;
  }

  &:hover h5,
  &:hover p {
    color: #ffffff;
    transition: color .2s ease;
  }

  &:hover svg path {
    fill: white;
    transition: fill .2s ease;
  }
}

.do-list__img {
  margin-bottom: 33px;
}

h5 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #787878;
}


.do-list__img__size1 {
  width: 68px;
  height: 66px;
}

.do-list__img__size2 {
  width: 86px;
  height: 64px;
}

.do-list__img__size3 {
  width: 64px;
  height: 64px;
}

.do-list__img__size4 {
  width: 65px;
  height: 65px;
}


/*CLIENTS*/

.clients {
  padding-top: 97px;
  padding-bottom: 161px;
}

.clients__header {
  font-size: 36px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #414141;
  margin-bottom: 43px;
}

.clients-list {
  display: flex;
  flex: 0 1 33.333%;
  justify-content: space-between;

  li {
    flex: 0 1 370px;
    min-height: 362px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.clients-item__text {
  padding: 57px 0 0 37px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #787878;
}

.clients-item__user {
  display: flex;
  border-top: 1px solid #dadada;
  padding: 27px 0 32px 37px;

  .clients-item__img {
    width: 67px;
    height: 68px;
    border: 2px solid #3172b9;
    border-radius: 50px;
    background-color: #787878;
    margin-right: 16px;
  }
}

.clients-item-user-desc {

  align-self: center;

  .clients-item-user-desc__name {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
  }

  .clients-item-user-desc__job {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #787878;
    opacity: 0.6;
  }
}


/*CONTACTS*/

.contacts {
  padding: 69px 0 168px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}


.contacts__header {
  font-size: 36px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #414141;
  margin-bottom: 120px;
}


.contacts__list {
  align-items: center;
  display: flex;

  li {
    flex: 0 0 207px;
  }

  li:not(:last-child) {
    margin-right: 194px;
  }

  img {
    margin-bottom: 29px;
  }

  h6 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
    margin-bottom: 44px;
  }

  p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #787878;
  }
}

.contacts-item__img_size1 {
  width: 19px;
  height: 26px;
}

.contacts-item__img_size2 {
  width: 26px;
  height: 26px;
}

.contacts-item__img_size3 {
  width: 29px;
  height: 19px;
}

.contacts-item-phones {
  display: flex;
  flex-direction: column;

  a {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #787878;

    &:hover {
      color: #3172b9;
      transition: color .2s ease;
    }

    &:focus {
      outline: 2px solid #3172b9;
    }

    &:active {
      color: black;
      transition: color .1s ease-out;
    }
  }
}

.contacts-item-mails {
  display: flex;
  flex-direction: column;

  a {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #787878;

    &:hover {
      color: #3172b9;
      transition: color .2s ease;
    }

    &:focus {
      outline: 2px solid #3172b9;
    }

    &:active {
      color: black;
      transition: color .1s ease-out;
    }
  }
}


/*started*/

.started {
  padding: 118px 0;
  border-bottom: 1px solid #dadada;
}

.started__box {
  text-align: center;

  h5 {
    font-size: 36px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 0.005em;
    color: #1c1c1c;
    margin-bottom: 28px;
  }

  p {
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #787878;
    margin-bottom: 60px;
  }
}

.started__form {
  display: flex;
  justify-content: center;

  input {
    flex: 0 1 251px;
    height: 60px;
    border: 1px solid #dadada;
    border-radius: 30px;
    padding-left: 15px;

    &:focus {
      border: 2px solid #3172b9;

    }
  }
}

.started__input:not(:last-child) {
  margin-right: 19px;
}


.started__btn {
  flex: 0 0 230px;
  height: 60px;
  background-color: #3172b9;
  border-radius: 30px;
}

/*FOOTER*/


.footer {
  padding: 45px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  align-items: center;
  display: flex;

  img {
    width: 115px;
    height: 44px;
    margin-right: 26px;
  }

  p {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: #787878;
  }
}

.footer-nav {
  margin-right: 59px;
}

.footer-nav__list {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 38px;
  }

  a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #787878;
  }
}

.footer-nav__link:hover {
  color: #3172b9;
  transition: color .2s ease;
}

.footer-nav__link:focus {
  outline: 2px solid #3172b9;
}

.footer-nav__link:active {
  color: black;
  transition: color .1s ease-out;
}

.footer__right {
  display: flex;
}

.footer-icons {
  display: flex;
  align-items: center;

  a {
    opacity: 0.63;
  }

  a:not(:last-child) {
    margin-right: 30px;
  }
}

.footer-icons__icon_size1 {
  width: 19px;
  height: 17px;
}

.footer-icons__icon_size2 {
  width: 20px;
  height: 20px;
}

.footer-icons__icon_size3 {
  width: 25px;
  height: 18px;
}

.footer-icons__icon:focus {
  outline: 2px solid #3172b9;
}
